@import "vars";

::-webkit-scrollbar {width:0;height:0;}
html, body {margin:0;padding:0;}
html {
	background:#000;
	font:normal 12px sans-serif;
	overflow:hidden;
	-ms-overflow-style:none;
	color:#333;
	-webkit-user-select:none;
	user-select:none;
}
h1 {margin-top:0;}
button {
	-webkit-appearance:none;
	-webkit-user-select:none;
	text-shadow:0 1px rgba(0,0,0,.2);
	box-shadow:0 2px rgba(0,0,0,.1);
	border-radius:3px;
	color:white;
	outline:none;
	font:bold 14px sans-serif;
	border:none;
	text-decoration:none;
	background:#309bce;
	margin:0;
	padding:10px 20px;
}
input {
	-webkit-appearance:none;
	width:180px;
	font-family:sans-serif;
	text-transform:uppercase;
	margin:0;
	border:1px solid #222;
} 
::-webkit-input-placeholder {text-transform:none;}
