@import "vars";
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,300italic,400italic,700italic);

::-webkit-scrollbar {width:0;height:0;}
html, body {margin:0;padding:0;}
html {
	background:#000;
	font:normal 12px sans-serif;
	overflow:hidden;
	-ms-overflow-style:none;
	color:#333;
	-webkit-user-select:none;
	user-select:none;
}
h1 {margin-top:0;}
button {
	-webkit-appearance:none;
	-webkit-user-select:none;
	text-shadow:0 1px rgba(0,0,0,.2);
	box-shadow:0 2px rgba(0,0,0,.1);
	border-radius:3px;
	color:white;
	outline:none;
	font:bold 14px sans-serif;
	border:none;
	text-decoration:none;
	background:#309bce;
	margin:0;
	padding:10px 20px;
}
input {
	-webkit-appearance:none;
	width:180px;
	font-family:sans-serif;
	text-transform:uppercase;
	margin:0;
	border:1px solid #222;
} 
::-webkit-input-placeholder {text-transform:none;}

#container{
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	left: 0;
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	cursor: none;
	color: #00B8FF;
	-webkit-box-sizing: border-box;
	-webkit-transform: translate3d(0, 0, 0);
}

@containerLeft: 50px;
@calendarWidth: 168px;
.uiHidden #calendar{
	opacity: 0;
	left: 60px;
}
.uiHidden #weather{
	opacity: 0;
	left: 60px;
}

#weather{
	position: absolute;
	top: 100px;
	left: @containerLeft;
	font-weight: 300;
	-webkit-transition: all .6s ease;

	.place{
		font-size: 5em;
		text-transform: uppercase;
	}
	.desc{
		font-size:2em;
	}
	.temp{
		font-size: 10em;
		font-weight: 100;
	}
}

#calendar{
	position: absolute;
	bottom: 200px;
	width: 100%;
	left: @containerLeft;
	-webkit-transition: all .6s ease .1s;

	.date{
		position: absolute;
		top: 11px;
		left: 75px;
		font-size: 3em;
		font-weight: 300;
	}
	i{
		font-size:5em;

	}
}

#clock{
	position: absolute;
	bottom: 30px;
	left: @containerLeft;
	text-align: center;
	.text{
		font-size: 10em;
	}
}